.tablink {
    width: 33%;
    float: left;
    background-color: #347536;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.tablink:hover {
    background-color: #4caf50;
}

.submitButton {
    display: block;
    width: 25%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    background-color:  #347536;
    border: none;
    color: white;
}

form {
    padding-bottom: 5px;
    padding-top: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.form__label {
    font-weight: 600;
    padding: 15px 0;
}

.portfolioContainer {
    width: 90%;
    display: block;
    margin: auto;
}

input {
    width: 55px;
    margin: 5px;
}